.header {
    width: 100vw;
    height: auto;
    padding: 3rem;

    background-color: $color-blue;

}

// .navigation {
//     &__list {

//     }

//     &__list {

//     }

//     &__link {

    
//     &:hover {
//         color: black;
//     }}
// }